# Dependencies
node_modules/

# Build output
dist/
cdk.out/
*.js
*.d.ts
*.js.map

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Python (if any tooling)
.venv/
__pycache__/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tsbuildinfo
frontend/Cal Poly Dx Hub Summer Camp Scavenger Hunt.docx
collages/
music/
